@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root{
  --font:'Space Grotesk', sans-serif;
  --black: #161616;
  --magenta: #e107e1;
  --white: #fff;
}

/* BASE STYLE  */
*{
  font-family: var(--font);
  color: var(--white);
  font-size: 16px;
}

#root{
  background-image: radial-gradient(circle at center center, transparent 0%,rgb(0,0,0) 85%),linear-gradient(78deg, rgba(192, 192, 192,0.05) 0%, rgba(192, 192, 192,0.05) 50%,rgba(60, 60, 60,0.05) 50%, rgba(60, 60, 60,0.05) 100%),linear-gradient(227deg, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(52, 52, 52,0.05) 50%, rgba(52, 52, 52,0.05) 100%),linear-gradient(240deg, rgba(98, 98, 98,0.05) 0%, rgba(98, 98, 98,0.05) 50%,rgba(249, 249, 249,0.05) 50%, rgba(249, 249, 249,0.05) 100%),linear-gradient(187deg, rgba(1, 1, 1,0.05) 0%, rgba(1, 1, 1,0.05) 50%,rgba(202, 202, 202,0.05) 50%, rgba(202, 202, 202,0.05) 100%),linear-gradient(101deg, rgba(61, 61, 61,0.05) 0%, rgba(61, 61, 61,0.05) 50%,rgba(254, 254, 254,0.05) 50%, rgba(254, 254, 254,0.05) 100%),linear-gradient(176deg, rgba(237, 237, 237,0.05) 0%, rgba(237, 237, 237,0.05) 50%,rgba(147, 147, 147,0.05) 50%, rgba(147, 147, 147,0.05) 100%),linear-gradient(304deg, rgba(183, 183, 183,0.05) 0%, rgba(183, 183, 183,0.05) 50%,rgba(57, 57, 57,0.05) 50%, rgba(57, 57, 57,0.05) 100%),radial-gradient(circle at center center, hsl(351,4%,12%),hsl(351,4%,12%));
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

li {
  list-style: none;
}

/* TYPOGRAPHY */

h1,
.header__name{
  font-size: 4.5rem;
  font-weight: 700;
}

h2,
svg{
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4{
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 0;
  margin: 0;
}
p, a {
  font-size: 1.2rem;
  padding: 8px 0;
}
p {
  line-height: 1.8;
}

a {
  text-transform: uppercase;
  text-decoration: none;
 padding-bottom: .8rem;
}

a:hover{
  color: var(--magenta);
}
/* LAYOUT  */

#root{
  padding: 50px 10%;
}

.hero{
  margin-bottom: 5rem;
}

.hero, .projects__container, .contact {
  display: flex;
}

.skills,
.projects {
  border-top: 1px solid var(--white);
  padding: 5rem 0;
}

.skills{
  display: grid;
}

.projects__container{
  flex-wrap: wrap;
  flex-direction: row;
}


/* HEADER */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

svg{
  padding: 0 8px;
}

svg:hover{
  fill: var(--magenta);
}

 .header__name{
  text-decoration: underline;
  text-decoration-color: #e107e1;
} 

header img{
  padding: 0 2rem;
}

header p {
  text-align: justify;
  padding-right: 5rem;
}

.contact {
  border-bottom: 2px solid var(--magenta);
}
/* SKILLS */

.skills{
  grid-template-columns: repeat(3, auto);
}

/* PROJECTS */

.projects__container{
  justify-content: space-around;
}

.projects__project{
  max-width: 40%;
  padding: 2rem;
}

.projects__project img{
  max-width: 100%;
  min-height: 240px;
}

.projects__project span {
  color: grey;
}

.projects a {
  border-bottom: 2px solid var(--magenta);
}

/* CONTACT */

.contact__text {
  max-width: 50%;
}